@{
    ViewData["Title"] = "Home";
}

@section section{
    <!-- ======= Hero Section ======= -->
<section id="hero" class="hero">

    <div class="info d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2 data-aos="fade-down">Welcome to Tech<span style="color: var(--color-primary);">Light</span></h2>
                    <p data-aos="fade-up">TechLight is the home of Tarkov and any essentials that you may need for yourself or your Hideout! Whatever you may need from Graphics Cards to Assault Rifles, TechLight has you covered!</p>
                    <a data-aos="fade-up" data-aos-delay="200" href="@Url.Action("TiledProducts", "Products")" class="btn-get-started">View Products!</a>
                </div>
            </div>
        </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-item active" style="background-image: url(assets/img/hero-carousel/eft-streets.jpg)"></div>
        <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/eft-therapist.jpg)"></div>
        <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/eft-mechanic.jpg)"></div>
        <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/eft-prapor.jpg)"></div>
        <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/eft-ragman.jpg)"></div>

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

    </div>

</section><!-- End Hero Section -->
}