@model TechLight.DATA.EF.Models.RaidStatus

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>RaidStatus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RaidStatusDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RaidStatusDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RaidStatusId">Edit</a> |
    <a asp-action="Index">Back to Raid Status</a>
</div>
