@model TechLight.DATA.EF.Models.RaidStatus

@{
    ViewData["Title"] = "Details";
}

<section class="product_section gray-section layout_padding pb-4 pt-4 mb-4 text-center col-md-8 offset-2">
    <div class="heading_container heading_center">
        <h2 class="fs-1" style="color: #feb900;">
            Details of <span>Found In Raid</span>
        </h2>
    </div>
</section>

<div class="col-md-6 offset-5">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RaidStatusDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RaidStatusDesc)
        </dd>
    </dl>
</div>
<div class="text-center mb-3 mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.RaidStatusId" class="btn btn-dark">Edit</a> 
    <a asp-action="Index" class="btn btn-dark">Back to Raid Status</a>
</div>
